{% if app.user %}
    <form action="{{ path('logout') }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}"/>
        <button type="submit" class="btn btn-primary">{{ 'action.logout'|trans }}</button>
    </form>
{% endif %}
