{% extends 'base.html.twig' %}

{% block h1 %}
    <h1>Восстановление пароля</h1>
{% endblock %}

{% block main %}

    На указанный вами email отправлена информация по востановлению пароля

{% endblock %}

