{% if buildings is not empty %}
    <div class="b-buildings">
        {% for building in buildings %}

            {% if building.plans is not empty %}

                <div class="b-building">
                    <h4 class="e-name">{{ building.name }} <span>{{ building.address }}</span></h4>

                    <div class="e-description">
                        Срок сдачи: <strong>{{ building.complTime }}</strong>
                        {% if building.material %}, Материал: {{ building.material }}{% endif %}
                        {% if building.floors %}, Этажность: {{ building.floors }}{% endif %}
                    </div>

                    {{ include('plans/_list.html.twig', { plans : building.plans }) }}
                </div>

            {% endif %}

        {% endfor %}
    </div>
{% endif %}