{% if districts is not empty %}
    <h2>{{ title }}</h2>
    <div class="b-districts" id="districts">
        {% for district in districts %}

            {% if selected is defined and selected == district.id %}
                <span class="e-item" >
                    <span class="e-img" style="background-image:url('{{ asset( district.imageMName ) }}');"></span>
                    <span class="e-name">{{ district.name }}</span>
                    <span class="e-subname">{{ district.announce }}</span>
                    {% if district.minPrice > 0 %}<span class="e-price">от {{ district.minPrice | price }} руб.</span>{% endif %}
                </span>

            {% else %}
                <a class="e-item" href="{{ url('district' ~ district.id) }}" >
                    <span class="e-img" style="background-image:url('{{ asset( district.imageMName ) }}');"></span>
                    <span class="e-name">{{ district.name }}</span>
                    <span class="e-subname">{{ district.announce }}</span>
                {% if district.minPrice > 0 %}<span class="e-price">от {{ district.minPrice | price }} руб.</span>{% endif %}
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}