{% extends 'default/page.html.twig' %}

{% set district_id = Page.id %}

{% set phone = Page.phone ?? phone %}

{% set whatsapp = Page.mobile ?? whatsapp %}

{% block metrika %}{{ Page.metrika|raw }}{% endblock %}

{% block meta_og_image %}
    {{ absolute_url( asset( Page.imageOrigName ) ) }}
{% endblock %}

{% block h1 %}
    <h1>{{ Page.name }}</h1>
    <p style="font-size:0.9em; margin:0 0 1em 0; padding:0;">{{ Page.announce|raw}}</p>
{% endblock %}

{% block stylesheets %}
    {{ Page.styles }}
{% endblock %}

{% block main %}

    <div class="b-promo"><img src="{{ asset( Page.imageOrigName ) }}" alt=""></div>

    {% if Page.description %}
        <div class="b-page_description">
            {{ Page.description|raw }}
        </div>
    {% endif %}

    {% if Page.tags is not empty %}
        {% for tag in Page.tags %}
            <div class="b-tag">
                <div class="e-ico" style="background-image: url('/images/tag/{{ tag.id }}.svg');"></div>
                <div class="e-name">{{ tag.name }}</div>
                <div class="e-description">{{ tag.description }}</div>
            </div>
        {% endfor %}
        <div class="clear"></div>
    {% endif %}

    <h2 id="flats">Планировки и цены</h2>
    <p style="font-size:0.9em;">Вы можете забронировать квартиры прямо у нас на сайте. После подтверждения заявки бронь сохраняется в течении 5 дней.</p>

    {{ include('plans/_list.html.twig') }}

    {{ include('districts/_buildings.html.twig') }}

    {{ include('photo/_index.html.twig', { 'photos': Page.photos, 'title':'Фото ' ~ Page.name }) }}

    {% if Page.ipoteka %}

           <h2 id="ipoteka">Как купить квартиру в {{ Page.name }}</h2>

           <p>{{ Page.ipoteka|raw }}</p>

           <div class="clear"></div>

           <p>Наш специалист проконсультирует вас по всем вопросам связанным с ипотекой:</p>

           {{ include('order/_form.html.twig', { 'form': ipotekaForm }) }}

   {% endif %}

    <div class="clear"></div>

    {{ include('districts/_list.html.twig', { 'districts' : districts, 'selected' : Page.id, 'title': 'Жилые комплексы рядом:' } ) }}

    <div class="clear"></div>

    <h3>{{ Page.name }} — на карте Новосибирска</h3>

{% endblock %}

{% block districts %}{% endblock %}

{%  block map %}

    <script src="//maps.api.2gis.ru/2.0/loader.js"></script>
    <div id="map" style="width: 100%; height: 400px;"></div>
    <script>
        DG.then(function() {
            var map = DG.map('map', {
                center: [{{ Page.mapCoords }}],
                zoom: 15
            });

            myIcon = DG.icon({
                iconUrl: '{{ asset('images/marker.png') }}',
                iconSize: [50, 50]
            });

            DG.marker([{{ Page.mapCoords }}], {icon: myIcon}).addTo(map).bindPopup('{{ Page.name }}');

            {% for district in districts if district.id!=Page.id %}
                DG.marker([{{ district.mapCoords }}], {icon: myIcon}).addTo(map).bindPopup('{{ district.name }}');
            {% endfor %}
            DG.control.location({position: 'bottomright'}).addTo(map);
            DG.control.scale().addTo(map);
            DG.control.ruler({position: 'bottomleft'}).addTo(map);
            DG.control.traffic().addTo(map);

        });
    </script>
{% endblock %}

