{% extends 'base.html.twig' %}

{% block h1 %}
    {% if Page.showTit %}
        <h1>{{ Page.name }}</h1>
    {% endif %}
{% endblock %}

{% block title %}
    {% if Page.metaTitle %}
        {{ Page.metaTitle }}
    {% else %}
        {{ Page.name }} - {{ siteName }}
    {% endif %}
{% endblock %}

{% block meta_og_title %}
    {% if Page.metaTitle %}
        {{ Page.metaTitle }}
    {% else %}
        {{ Page.name }} - {{ siteName }}
    {% endif %}
{% endblock %}

{% block meta_desc %}{{ Page.MetaDesc }}{% endblock %}
{% block meta_og_desc %}{{ Page.MetaDesc }}{% endblock %}
{% block meta_key %}{{ Page.MetaKey }}{% endblock %}

{% block main %}

    {% if Page.description %}
        <p>{{ Page.description|raw }}</p>
        <div class="clear"></div>
    {% endif %}

    {{ include('photo/_index.html.twig', { 'photos': Page.photos, 'title':'' }) }}

{% endblock %}