{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}

    <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('move', object, {'position': 'down'}) }}" title="{{ 'move_down'|trans }}">
        <i class="fa fa-angle-down"></i>
    </a>

    <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('move', object, {'position': 'up'}) }}" title="{{ 'move_up'|trans }}">
        <i class="fa fa-angle-up"></i>
    </a>
{% endif %}
