{% set ct = object.plans.count() %}
<a class="btn btn-sm btn-default"
   href="{{ path('admin_app_district_building_plan_list', {'id': object.district.id, 'childId': object.id }) }}"
>{{ 'Plans'|trans }}{% if ct > 0 %} ({{ ct }}){% endif %}</a>