{% set ct = object.districts.count() %}
<a class="btn btn-sm btn-default"
   href="{{ path('admin_app_company_district_list', {'id': object.id }) }}"
>{{ 'Districts'|trans }}{% if ct > 0 %} ({{ ct }}){% endif %}</a>