{% set ct = object.photos.count() %}
<a class="btn btn-sm btn-default"
   href="{{ path('admin_app_district_photo_list', {'id': object.id }) }}"
>{{ 'Photo'|trans }}{% if ct > 0 %} ({{ ct }}){% endif %}</a>