{% set ct = object.buildings.count() %}
<a class="btn btn-sm btn-default"
   href="{{ path('admin_app_district_building_list', {'id': object.id }) }}"
>{{ 'Buildings'|trans }}{% if ct > 0 %} ({{ ct }}){% endif %}</a>