{% set ct = object.flats.count() %}
<a class="btn btn-sm btn-default"
   href="{{ path('admin_app_district_building_plan_flat_list', {'id': object.building.district.id, 'childId': object.building.id, 'childChildId': object.id }) }}"
>{{ 'Flats'|trans }}{% if ct > 0 %} ({{ ct }}){% endif %}</a>