{% block user_block %}
    {% if app.user %}
        <li class="user-footer">
            <div class="pull-left">
                {{ app.user.email }}
            </div>
            <div class="pull-right">
                {{ include('security/_logout.html.twig') }}
            </div>
        </li>
    {% endif %}
{% endblock %}