{% if photos is not empty %}
    {% if title %}<h3>{{ title }}</h3>{% endif %}
    <div class="b-fotos">
        {% for photo in photos %}
            <a href="{{ asset( photo.imageLName ) }}"
               class="e-row"
               data-lightbox="photogal"
               data-title="{{ photo.name }}"
               style="background-image:url('{{ asset( photo.imageMName ) }}');" ></a>
        {% endfor %}
    </div>
{% endif %}