<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="language" content="ru" />
        <title>{% spaceless %}{% block title %}Портал о недвижимости в Новосибирске.{% endblock %}{% endspaceless %}</title>
        <meta name="description" content="{% spaceless %}{% block meta_desc %}Вся информация о наиболее выгодных предложениях по продаже новостроек в городе Новосибирск.{% endblock %}{% endspaceless %}">
        <meta property="og:description" content="{% spaceless %}{% block meta_og_desc %}{% endblock %}{% endspaceless %}" />
        <meta name="keywords" content="{% spaceless %}{% block meta_key %}новостройки, Новосибирск{% endblock %}{% endspaceless %}">
        <meta name="og:title" content="{% spaceless %}{% block meta_og_title %}Портал о недвижимости в Новосибирске.{% endblock %}{% endspaceless %}" />
        <meta name="og:type" content="website" />
        <meta name="og:image" content="{% spaceless %}{% block meta_og_image %}{% endblock %}{% endspaceless %}" />
        <link href="{{ asset('js/lightbox2-master/css/lightbox.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        <link rel="stylesheet" id="boldial-google-font-1-css" href="//fonts.googleapis.com/css?family=Roboto%3A400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2C500%2C400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2Cregular%2C400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2C100%2C400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2C100%2C400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2C100%2C400%2C400italic%2Cregular%2Citalic%2C700%2C700italic%2Cregular%2C&#038;ver=4.7.2" type="text/css" media="all"/>
        <style rel="stylesheet">{% block stylesheets %}{% endblock %}</style>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('js/lightbox2-master/js/lightbox.js') }}"></script>
        <script src="{{ asset('js/index.js') }}"></script>
    </head>
    <body>
        <table class="b-shell">
        <tr>
            <td class="b-head">
                <div class="b-shell_head">

                    <a href="{{ linkToIndex ?? url('index') }}" class="b-logo" title="На главную"></a>

                    <div class="b-tel">
                        <a href="tel:+{{ phone }}" class="e-number" id="phoneNumber" onclick="counterEvent('phone');">{{ phone|tel }}</a>
                        <div class="e-hours">пн-вс 9:00-21:00</div>
                        <a href="{{ url('callme_form', { 'district_id' : district_id ?? null }) }}" class="b-but" onclick="return get_url_to_modal_windows(this.href);">Заказать звонок</a>
                    </div>

                    <div class="b-bus"><a href="{{ url('excursion_form', { 'district_id' : district_id ?? null }) }}" onclick="return get_url_to_modal_windows(this.href);">Экскурсия</a><br><span>по новостройке</span></div>

                    <div class="b-menu">
                        {{
                            knp_menu_render(
                                knp_menu_get('main', [], {'advancedItems':  advancedMenuItems is defined ? advancedMenuItems : []})
                            )
                        }}
                    </div>

                    <div class="clear"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="b-main">
                <div class="b-content">
                    {% block beforeContent %}{% endblock %}
                    {% block h1 %}{% endblock %}
                    {% block main %}{% endblock %}
                    {% block districts %}
                        {{ include('districts/_list.html.twig', { 'districts' : districts is defined ? districts : [], 'title' : 'Жилые комплексы в Новосибирске' } ) }}
                    {% endblock %}
                </div>
                <div class="b-map>">{% block map %}{% endblock %}</div>
            </td>
        </tr>
        <tr>
            <td class="b-footer">

                <div class="b-backToTop" title="на верх"></div>

                <table style="width:100%;">
                    <tbody><tr>
                        <td style="width:15%;">
                            <a class="e-menu" href="/">Главная</a>
                            <a class="e-menu" href="/privacy">Соглашение об обработке персональных данных</a>
                        </td>
                        <td style=" padding:0 5%;">
                            <p>Сайт носит исключительно информационный характер и никакая информация, опубликованная на нём, ни при каких условиях не является публичной офертой. Для получения подробной информации о реализуемых товарах, работах и услугах и их цене необходимо обращаться по указанному в контактах телефону или оставить заявку на сайте.</p>
                        </td>
                        <td style="width:30%;">
                            <p>© 2020 {{ company }}. Все Права Защищены</p>
                            <p>Официальный партнер застройщика</p>
                            <p>{{ address }}, телефон: {{ phone|tel }}</p>
                            <p>E-mail: <a href="mailto:{{ mailTo }}">{{ mailTo }}</a>, Создание сайта: <a href="http://vk.com/public85884884" target="sib promo">Sib Promo</a></p>
                        </td>
                    </tr>
                    </tbody>
                </table>

                {% block contactsPannel %}
                    <div class="b-contactsPannel">
                        <a class="e-cell e-phone" href="tel:+{{ phone }}" onclick="counterEvent('phone');"><span>Позвонить</span></a>
                        <a class="e-cell e-mail" href="{{ url('callmeAdv_form', { 'district_id' : district_id ?? null }) }}" onclick="counterEvent('openForm');"><span>Оставить заявку</span></a>
                        <a class="e-cell e-chat" href="https://wa.me/{{ whatsapp }}/?text={{ "Я бы хотел узнать о"|url_encode }}" data-action="share/whatsapp/share" onclick="counterEvent('messenger');"><span>Whatsapp</span></a>
                    </div>
                {% endblock %}
            </td>
        </tr>
        </table>

        {{ include('_counter.html.twig') }}

        {% block metrika %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>