{% extends app.request.isXmlHttpRequest ? 'ajax.base.html.twig' : 'base.html.twig' %}

{% block h1 %}
    <h1>Оставьте заявку</h1>
{% endblock %}

{% block stylesheets %}
    {{ styles }}
{% endblock %}

{% block contactsPannel %}{% endblock %}

{% block beforeContent %}
    {{ include('order/_cross.html.twig') }}
{% endblock %}

{% block main %}
    <p style="font-size:0.8em;">Оставьте свои контактные данные и наши менеджеры свяжутся с Вами в ближайшее рабочее время.
        <br>Также Вы можете подобрать и забронировать квартиру прямо у нас на <a href="{{ url(district_id ? 'district' ~ district_id : 'index') }}">сайте</a></p>

    {{ include('order/_form.html.twig') }}

{% endblock %}


