{% extends 'base.html.twig' %}

{% block h1 %}<h1>Спасибо</h1>{% endblock %}

{% block stylesheets %}
    {{ styles }}
{% endblock %}

{% block main %}
    <p>Ваша заявка отправлена. Наш специалист свяжется с Вами в ближайшее рабочее время. <a href="{{ url(district_id ? 'district' ~ district_id : 'index') }}">Назад</a></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
{% endblock %}