<h3>Заказ</h3>

<table>
    <tr>
        <td>Id</td>
        <td>{{ Order.id }}</td>
    </tr>
    <tr>
        <td>Тема</td>
        <td>{{ Order.theme }}</td>
    </tr>
    <tr>
        <td>Имя</td>
        <td>{{ Order.contactName }}</td>
    </tr>
    <tr>
        <td>Телефон</td>
        <td>{{ Order.contactPhone }}</td>
    </tr>
    <tr>
        <td>Описание</td>
        <td>{{ Order.description }}</td>
    </tr>
    <tr>
        <td>User info</td>
        <td>{{ Order.userinfo }}</td>
    </tr>
    <tr>
        <td>Referrer</td>
        <td>{{ Order.referrer }}</td>
    </tr>
</table>