{% extends app.request.isXmlHttpRequest ? 'ajax.base.html.twig' : 'base.html.twig' %}

{% block h1 %}
    <h1>Запись на экскурсию</h1>
{% endblock %}

{% block stylesheets %}
    {{ styles }}
{% endblock %}

{% block beforeContent %}
    {{ include('order/_cross.html.twig') }}
{% endblock %}

{% block main %}
    <p style="font-size:0.8em;">Если Вы хотите увидеть жилой комплекс своими глазами - запишитесь на экскурсию!</p>

    {{ include('order/_form.html.twig') }}

{% endblock %}


