{% extends app.request.isXmlHttpRequest ? 'ajax.base.html.twig' : 'base.html.twig' %}

{% block h1 %}
    <h1>Как купить квартиру</h1>
{% endblock %}

{% block stylesheets %}
    {{ styles }}
{% endblock %}

{% block main %}
    {{ include('order/_form.html.twig') }}
{% endblock %}