{% extends app.request.isXmlHttpRequest ? 'ajax.base.html.twig' : 'default/page.html.twig' %}

{% block stylesheets %}
    {{ styles }}
{% endblock %}

{% block main %}

    <p>{{ Page.description|raw }}</p>

    <div class="clear"></div>

    {{ include('order/_form.html.twig') }}

    {{ include('photo/_index.html.twig', { 'photos': Page.photos, 'title':'' }) }}

{% endblock %}