{% if plans is not empty %}
    <div class="b-plans">
    {% for plan in plans %}
        <div class="e-row">
            <div class="e-name">{{ plan.name }}{% if plan.sTotal > 0 %} <span class="e-subname">{{ plan.sTotal }} м<sup>2</sup></span>{% endif %}</div>
            <div class="e-plan"><a href="{{ asset( plan.imageLName ) }}"  data-title="{{ plan.fullName }}"  data-lightbox="flats"><img src="{{ asset( plan.imageLName ) }}" alt=""></a></div>
            <div class="e-price">{{ plan.minPrice | price }} руб.</div>
            <div class="e-but"><a href="{{ url('plan_form', {'plan_id': plan.id} ) }}" class="b-but e-but_grey" onclick="return get_url_to_modal_windows(this.href);">Забронировать!</a></div>
        </div>
    {% endfor %}
        <div class="clear">&nbsp;</div>
    </div>
{% endif %}